In [7]:
!pip install xlrd
!pip install openpyxl
!pip install pandas
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   --------- ------------------------------ 10.2/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 548.1 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [34]:
import csv 
import pymysql

db = pymysql.connect( 
    host='127.0.0.1', # MySQL Server Address 
    port=3306, # MySQL Server Port 
    user='root', # MySQL username 
    passwd='Raffine9847!', # password for MySQL
    db='titanic', # Database name 
    charset='utf8' )

cursor = db.cursor()

f = open('./archive/tested.csv', 'r', encoding='utf-8') 
rdr = csv.reader(f) 

for idx, row in enumerate(rdr): 
    if idx == 0: # 헤더는 제외합니다. 
        continue 
    print(row)
    '''
    sql = """ 
        insert into Passenger 
        (PassengerId, Survived, Pclass, Name, Gender, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked)
        values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) 
    """ 
    cursor.execute(sql, (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11])) 
    '''
    
    sql = """
        select * from Passenger
    """
    cursor.execute(sql)
    data = cursor.fetchall()
    print(data)
# db.commit()

db.close() 
f.close()

['892', '0', '3', 'Kelly, Mr. James', 'male', '34.5', '0', '0', '330911', '7.8292', '', 'Q']
()