In [21]:
# 네이버 검색 API 예제 - 장소 검색
import os
import sys
import urllib.request

client_id = "ZVaUgBFN_6V0pjhgvjnQ"
client_secret = "Y6EoK1RtA9"
encText = urllib.parse.quote("부산학교")
url = "https://openapi.naver.com/v1/search/local.json?query=" + encText #JSON 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # XML 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{
	"lastBuildDate":"Sun, 18 Feb 2024 19:24:25 +0900",
	"total":1,
	"start":1,
	"display":1,
	"items":[
		{
			"title":"<b>부산<\/b>대<b>학교<\/b> <b>부산<\/b>캠퍼스",
			"link":"http:\/\/www.pusan.ac.kr\/",
			"category":"교육,학문>대학교",
			"description":"",
			"telephone":"",
			"address":"부산광역시 금정구 장전동 40",
			"roadAddress":"부산광역시 금정구 부산대학로63번길 2",
			"mapx":"1290798453",
			"mapy":"352333797"
		}
	]
}

In [22]:
import os
import sys
import urllib.request
import json
import pandas as pd

def getresult(client_id,client_secret,query,display=10,start=1,sort='sim'):
    encText = urllib.parse.quote(query)
    url = "https://openapi.naver.com/v1/search/local.json?query=" + encText + \
    "&display=" + str(display) + "&start=" + str(start) + "&sort=" + sort

    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    rescode = response.getcode()
    if(rescode==200):
        response_body = response.read()
        response_json = json.loads(response_body)
    else:
        print("Error Code:" + rescode)

    return pd.DataFrame(response_json['items'])

In [27]:
client_id = "ZVaUgBFN_6V0pjhgvjnQ"
client_secret = "Y6EoK1RtA9"
query = '부산학교'
display=5
start=1
sort='sim'

result_all=pd.DataFrame()
#for i in range(0,2):
    #start= 1
    #result= getresult(client_id,client_secret,query,display,start,sort)
    
result_all=pd.concat([result_all,result])

In [28]:
result_all.shape

(5, 9)

In [29]:
result_all

,title,link,category,description,telephone,address,roadAddress,mapx,mapy
0,<b>부산</b>대<b>학교</b> <b>부산</b>캠퍼스,http://www.pusan.ac.kr/,"교육,학문>대학교",,,부산광역시 금정구 장전동 40,부산광역시 금정구 부산대학로63번길 2,1290798453,352333797
1,동아대<b>학교</b>승학캠퍼스,http://www.donga.ac.kr/,"교육,학문>대학교",,,부산광역시 사하구 하단동 840,부산광역시 사하구 낙동대로550번길 37,1289675077,351161348
2,부경대<b>학교</b> 대연캠퍼스,http://www.pknu.ac.kr/,"교육,학문>대학교",,,부산광역시 남구 대연동 599-1,부산광역시 남구 용소로 45 부경대학교,1291059875,351335486
3,한국해양대<b>학교</b>아치캠퍼스,http://www.kmou.ac.kr/,"교육,학문>대학교",,,부산광역시 영도구 동삼동 1,부산광역시 영도구 태종로 727,1290892004,350763579
4,<b>부산</b>가톨릭대<b>학교</b>,http://www.cup.ac.kr/,"교육,학문>대학교",,,부산광역시 금정구 부곡동 9,부산광역시 금정구 오륜대로 57,1290975491,352447039